@font-face {
	font-family: "Amatic SC";
	src: url("./AmaticSC-Bold.ttf") format("truetype");
}

* {
	margin: 0;
	padding: 0;
	font-family: "Amatic SC", sans-serif;
	font-weight: 700;
	font-style: bold;
	font-size: xx-large;
}
body {
	height: 100dvh;
	width: 100dvw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5%;
	background: linear-gradient(to top, black, #3b0000);
	color: white;
}

h3, button {
	font-size: 48px;
}

h1 {
	font-size: 108px;
	filter:drop-shadow(5px 5px #000000);
}

button {
	padding: 1%;
}